*{
    background-color: rgb(253, 235, 208) ;
}


h1 { /*Selector de tipo o elemento: selecciona los elementoscon ese nombre, solo un h1 */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}



p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.estilo-listas{
    font-family: Arial, Helvetica, sans-serif;
    color: darkcyan;


}


#nanami-y-yo{
    width: 450px;
    height:350px;
    
}

#conflicto-socioambiental{
    border: 1px solid beige;
    padding:5px;
    background-color: white;
}